<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Prediction</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container mt-5">
        <h5>Please enter transaction details:</h5>
        <form id="predict" action="{% url 'predict' %}" method='POST'>
            {% csrf_token %}
            <div class="form-group">
                <label for="dayOfWeek">Day of Week</label>
                <select class="form-control" id="dayOfWeek" name="dayOfWeek">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cashTransactions">Cash transactions</label>
                <input type="number" class="form-control" id="cashTransactions" name="cashTransactions" placeholder="Enter no. of cash transactions" min="0">

            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
            <div>
            <label for="amtdispensed">Predicted Amount to be dispensed</label>
                {% if predicted_amount %}
                <input type="text" class="form-control" id="emptyTextBox" name="amtdispensed" value="{{ predicted_amount }}" placeholder="Predicted Amount" readonly>
                {% endif %}
            </div>


        </form>

    </div>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
</html>
